In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 1. Connect to the Database
# NOTE: We use ".." to go back up one level from 'notebooks' to the root, then into 'data'
db_path = "../data/hotel_retention.db"
conn = sqlite3.connect(db_path)

In [3]:
# 2. Load Data
query = "SELECT * FROM bookings"
df = pd.read_sql(query, conn)

print("‚úÖ Data Loaded Successfully!")
print(f"Total Rows: {len(df)}")
display(df.head())

‚úÖ Data Loaded Successfully!
Total Rows: 4

,booking_id,customer_id,name,email,phone,room_type,booking_price,booking_date,checkin_date,checkout_date,special_requests,total_stays,previous_cancellations,status
0,1,101,John Doe,john.doe@example.com,555-0101,Deluxe Suite,850.0,2023-12-01,2026-02-10,2024-03-15,Late check-in,2,3,Confirmed
1,2,102,Alice Smith,alice.smith@test.com,555-0102,Standard,120.0,2024-01-15,2024-04-10,2024-04-12,Quiet room,15,0,Confirmed
2,3,103,Bob Jones,bob.j@test.com,555-0103,Standard,200.0,2024-02-20,2024-03-05,2024-03-08,None,1,0,Confirmed
3,4,104,Sarah Connor,sarah.c@test.com,555-0104,Presidential,1500.0,2023-11-01,2024-06-01,2024-06-05,No machines,5,1,Confirmed

In [4]:
# 3. Quick Analysis of "High Risk" Candidates
# Let's filter for people who might be risky (e.g., High Price + History of cancellations)

print("\n--- üîç Potential High Risk Customers ---")
high_risk_filter = (df['previous_cancellations'] > 0) & (df['booking_price'] > 500)
risky_customers = df[high_risk_filter]

if not risky_customers.empty:
    display(risky_customers[['customer_id', 'name', 'booking_price', 'previous_cancellations']])
else:
    print("No high-risk customers found with current simple filter.")

--- üîç Potential High Risk Customers ---

   customer_id          name  booking_price  previous_cancellations
0          101      John Doe          850.0                       3
3          104  Sarah Connor         1500.0                       1

In [5]:
# 4. Define 'Churn' Logic (For ML later)
# We don't have a 'cancelled' column for future bookings yet, 
# but for training data, we usually look at 'status'.
# Let's check value counts of status.
print("\n--- üìä Booking Status Distribution ---")
print(df['status'].value_counts())

--- üìä Booking Status Distribution ---
status
Confirmed    4
Name: count, dtype: int64

In [6]:
# Close connection
conn.close()